body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #1D1D24;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10% 20px;
    width: 100vw;
    height: 100vh;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 85px;
    height: 85px;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.list {
    margin: 0 auto;
    padding: 0;
    width: 160px;
    list-style: none;
}

.list__list-item {
    margin-bottom: 20px;
}

.list__list-item:last-child {
    margin-bottom: 0;
}

.list__link {
    display: block;
    padding: 9px 0;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: transparent;
}

.list__link--vk {
    background-color: #5181B8;
    border: 2px solid #5181B8;
}

.list__link--telegram {
    background-color: #28A7E8;
    border: 2px solid #28A7E8;
}

.list__link--discord {
    background-color: #7289DA;
    border: 2px solid #7289DA;
}

.list__link--youtube {
    background-color: #FF0000;
    border: 2px solid #FF0000;
}

.copy {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.copy__logo {
    margin-top: -2px;
    margin-right: 7px;
    width: 12px;
    height: 12px;
}

.copy__content {
    font-size: 12px;
    line-height: 12px;
}

.copy__name {
    text-transform: uppercase;
}

@media (min-width: 400px) {
    .list {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 7% 50px;
    }

    .logo {
        width: 185px;
        height: 185px;
    }

    .list {
        width: 420px;
    }

    .list__list-item {
        margin-bottom: 30px;
    }

    .list__list-item::last-child {
        margin-bottom: 0;
    }

    .list__link {
        padding: 12px 0;
        font-size: 36px;
        line-height: 36px;
        border-radius: 30px;
    }

    .list__link--vk {
        background-color: #5181B8;
        border: 3px solid #5181B8;
    }

    .list__link--telegram {
        background-color: #28A7E8;
        border: 3px solid #28A7E8;
    }

    .list__link--discord {
        background-color: #7289DA;
        border: 3px solid #7289DA;
    }

    .list__link--youtube {
        background-color: #FF0000;
        border: 3px solid #FF0000;
    }

    .copy__logo {
        width: 24px;
        height: 24px;
    }

    .copy__content {
        font-size: 24px;
        line-height: 24px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 2% 120px;
    }

    .logo__img:hover .logo__el-mid {
        transition: 1s;
        fill: #04EDF1;
    }

    .logo__img:hover .logo__el-right {
        transition: 0.5s;
        fill: #04EDF1;
    }

    .logo__img:hover .logo__el-left {
        transition: 1.5s;
        fill: #029CB4;
    }

    .list__link {
        transition: background 0.5s;
        border: 3px solid #FFFFFF;
        background-color: transparent;
    }
    
    .list__link--vk:hover {
        background-color: #5181B8;
        border-color: #5181B8;
    }

    .list__link--telegram:hover {
        background-color: #28A7E8;
        border-color: #28A7E8;
    }

    .list__link--discord:hover {
        background-color: #7289DA;
        border-color: #7289DA;
    }

    .list__link--youtube:hover {
        background-color: #FF0000;
        border-color: #FF0000;
    }

    .list__link:active {
        background-color: transparent;
    }

    .list__link--vk:active {
        color: #5181B8;
        border-color: #5181B8;
    }
    
    .list__link--telegram:active {
        color: #28A7E8;
        border-color: #28A7E8;
    }

    .list__link--discord:active {
        color: #7289DA;
        border-color: #7289DA;
    }

    .list__link--youtube:active {
        color: #FF0000;
        border-color: #FF0000;
    }
}